AirNautisService/ServiceAirNautis/AirNautisService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AirNautisService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60969/AirNautisService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60969/AirNautisService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60969/AirNautisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AirNautisService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAirNautisService_GetAirplaneById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAirplaneById" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_GetAirplaneById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAirplaneByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_GetHangarAirplanes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHangarAirplanes" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_GetHangarAirplanes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHangarAirplanesResponse" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_GetOutAirplanes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutAirplanes" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_GetOutAirplanes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutAirplanesResponse" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_GetAllHangars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHangars" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_GetAllHangars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHangarsResponse" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_GetHangar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHangar" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_GetHangar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHangarResponse" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_GetAirplanesByHangar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAirplanesByHangar" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_GetAirplanesByHangar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAirplanesByHangarResponse" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_GetTravels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTravels" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_GetTravels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTravelsResponse" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_InsertAirplane_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAirplane" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_InsertAirplane_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAirplaneResponse" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_CreateHangar_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateHangar" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_CreateHangar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateHangarResponse" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_NewOutgoingTravel_InputMessage">
    <wsdl:part name="parameters" element="tns:NewOutgoingTravel" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_NewOutgoingTravel_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewOutgoingTravelResponse" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_NewIncomingTravel_InputMessage">
    <wsdl:part name="parameters" element="tns:NewIncomingTravel" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_NewIncomingTravel_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewIncomingTravelResponse" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_EditAirplane_InputMessage">
    <wsdl:part name="parameters" element="tns:EditAirplane" />
  </wsdl:message>
  <wsdl:message name="IAirNautisService_EditAirplane_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditAirplaneResponse" />
  </wsdl:message>
  <wsdl:portType name="IAirNautisService">
    <wsdl:operation name="GetAirplaneById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirNautisService/GetAirplaneById" message="tns:IAirNautisService_GetAirplaneById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirNautisService/GetAirplaneByIdResponse" message="tns:IAirNautisService_GetAirplaneById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHangarAirplanes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirNautisService/GetHangarAirplanes" message="tns:IAirNautisService_GetHangarAirplanes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirNautisService/GetHangarAirplanesResponse" message="tns:IAirNautisService_GetHangarAirplanes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutAirplanes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirNautisService/GetOutAirplanes" message="tns:IAirNautisService_GetOutAirplanes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirNautisService/GetOutAirplanesResponse" message="tns:IAirNautisService_GetOutAirplanes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllHangars">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirNautisService/GetAllHangars" message="tns:IAirNautisService_GetAllHangars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirNautisService/GetAllHangarsResponse" message="tns:IAirNautisService_GetAllHangars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHangar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirNautisService/GetHangar" message="tns:IAirNautisService_GetHangar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirNautisService/GetHangarResponse" message="tns:IAirNautisService_GetHangar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAirplanesByHangar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirNautisService/GetAirplanesByHangar" message="tns:IAirNautisService_GetAirplanesByHangar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirNautisService/GetAirplanesByHangarResponse" message="tns:IAirNautisService_GetAirplanesByHangar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTravels">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirNautisService/GetTravels" message="tns:IAirNautisService_GetTravels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirNautisService/GetTravelsResponse" message="tns:IAirNautisService_GetTravels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAirplane">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirNautisService/InsertAirplane" message="tns:IAirNautisService_InsertAirplane_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirNautisService/InsertAirplaneResponse" message="tns:IAirNautisService_InsertAirplane_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateHangar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirNautisService/CreateHangar" message="tns:IAirNautisService_CreateHangar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirNautisService/CreateHangarResponse" message="tns:IAirNautisService_CreateHangar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewOutgoingTravel">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirNautisService/NewOutgoingTravel" message="tns:IAirNautisService_NewOutgoingTravel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirNautisService/NewOutgoingTravelResponse" message="tns:IAirNautisService_NewOutgoingTravel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewIncomingTravel">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirNautisService/NewIncomingTravel" message="tns:IAirNautisService_NewIncomingTravel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirNautisService/NewIncomingTravelResponse" message="tns:IAirNautisService_NewIncomingTravel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditAirplane">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirNautisService/EditAirplane" message="tns:IAirNautisService_EditAirplane_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirNautisService/EditAirplaneResponse" message="tns:IAirNautisService_EditAirplane_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAirNautisService" type="tns:IAirNautisService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAirplaneById">
      <soap:operation soapAction="http://tempuri.org/IAirNautisService/GetAirplaneById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHangarAirplanes">
      <soap:operation soapAction="http://tempuri.org/IAirNautisService/GetHangarAirplanes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutAirplanes">
      <soap:operation soapAction="http://tempuri.org/IAirNautisService/GetOutAirplanes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHangars">
      <soap:operation soapAction="http://tempuri.org/IAirNautisService/GetAllHangars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHangar">
      <soap:operation soapAction="http://tempuri.org/IAirNautisService/GetHangar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAirplanesByHangar">
      <soap:operation soapAction="http://tempuri.org/IAirNautisService/GetAirplanesByHangar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravels">
      <soap:operation soapAction="http://tempuri.org/IAirNautisService/GetTravels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAirplane">
      <soap:operation soapAction="http://tempuri.org/IAirNautisService/InsertAirplane" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateHangar">
      <soap:operation soapAction="http://tempuri.org/IAirNautisService/CreateHangar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewOutgoingTravel">
      <soap:operation soapAction="http://tempuri.org/IAirNautisService/NewOutgoingTravel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewIncomingTravel">
      <soap:operation soapAction="http://tempuri.org/IAirNautisService/NewIncomingTravel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAirplane">
      <soap:operation soapAction="http://tempuri.org/IAirNautisService/EditAirplane" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AirNautisService">
    <wsdl:port name="BasicHttpBinding_IAirNautisService" binding="tns:BasicHttpBinding_IAirNautisService">
      <soap:address location="http://localhost:60969/AirNautisService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>