AirNautis/Service References/ServiceAirNautis/AirNautisService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60969/AirNautisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AirNautisService" />
  <xs:element name="GetAirplaneById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="airplaneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirplaneByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="GetAirplaneByIdResult" nillable="true" type="q1:Airplane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAirplanes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAirplanesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="GetAllAirplanesResult" nillable="true" type="q2:ArrayOfAirplane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirplaneTravels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="airplaneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirplaneTravelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="GetAirplaneTravelsResult" nillable="true" type="q3:ArrayOfTravel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHangarAirplanes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHangarAirplanesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="GetHangarAirplanesResult" nillable="true" type="q4:ArrayOfAirplane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutAirplanes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutAirplanesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="GetOutAirplanesResult" nillable="true" type="q5:ArrayOfAirplane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHangars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHangarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="GetAllHangarsResult" nillable="true" type="q6:ArrayOfHangar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvaiableHangars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvaiableHangarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="GetAvaiableHangarsResult" nillable="true" type="q7:ArrayOfHangar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveAirplanes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveAirplanesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="GetActiveAirplanesResult" nillable="true" type="q8:ArrayOfAirplane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInactiveAirplanes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInactiveAirplanesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="GetInactiveAirplanesResult" nillable="true" type="q9:ArrayOfAirplane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHangar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hangar_number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHangarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="GetHangarResult" nillable="true" type="q10:Hangar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirplanesByHangar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hangar_number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirplanesByHangarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="GetAirplanesByHangarResult" nillable="true" type="q11:ArrayOfAirplane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="GetTravelsResult" nillable="true" type="q12:ArrayOfTravel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAirplane">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="newAirplane" nillable="true" type="q13:Airplane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAirplaneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAirplaneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHangar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="newHangar" nillable="true" type="q14:Hangar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHangarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateHangarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewOutgoingTravel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="newTravel" nillable="true" type="q15:Travel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewOutgoingTravelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewOutgoingTravelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewIncomingTravel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="newTravel" nillable="true" type="q16:Travel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewIncomingTravelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewIncomingTravelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAirplane">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AirNautisService" minOccurs="0" name="airplane" nillable="true" type="q17:Airplane" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAirplaneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditAirplaneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateAirplane">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="airplane_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateAirplaneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateAirplaneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateAirplane">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="airplane_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateAirplaneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeactivateAirplaneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>