AirNautis/Service References/ServiceAirNautis/AirNautisService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AirNautisService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AirNautisService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Airplane">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="Hangar" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Hangar1" nillable="true" type="tns:Hangar" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Travel" nillable="true" type="tns:ArrayOfTravel" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Airplane" nillable="true" type="tns:Airplane" />
  <xs:complexType name="Hangar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airplane" nillable="true" type="tns:ArrayOfAirplane" />
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hangar" nillable="true" type="tns:Hangar" />
  <xs:complexType name="ArrayOfAirplane">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Airplane" nillable="true" type="tns:Airplane" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirplane" nillable="true" type="tns:ArrayOfAirplane" />
  <xs:complexType name="ArrayOfTravel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Travel" nillable="true" type="tns:Travel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTravel" nillable="true" type="tns:ArrayOfTravel" />
  <xs:complexType name="Travel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airplane" type="xs:int" />
      <xs:element minOccurs="0" name="Airplane1" nillable="true" type="tns:Airplane" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Travel" nillable="true" type="tns:Travel" />
  <xs:complexType name="ArrayOfHangar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hangar" nillable="true" type="tns:Hangar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHangar" nillable="true" type="tns:ArrayOfHangar" />
</xs:schema>